.list {
    --gap: 30px;
    --on_row_count: 5;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: var(--gap);
}

.item {
    position: relative;
    padding: 15px;
    width: calc(
        (100% - var(--gap) * (var(--on_row_count) - 1)) / var(--on_row_count)
    );
    aspect-ratio: 1.7;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    transition: all 100ms linear;
}

.item:hover {
    transform: scale(1.1);
    transition: all 100ms linear;
    box-shadow: 0px 0px 200px rgba(5, 9, 70, 0.7);
    z-index: 10;
}

.img {
    width: 100%;
    user-select: none;
}

.name {
    position: absolute;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    left: 50%;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    transform: translate(-50%);
}

@media screen and (max-width: 1735px) {
    .list {
        --on_row_count: 4;
    }
}

@media screen and (max-width: 1431px) {
    .list {
        --on_row_count: 3;
    }
}

@media screen and (max-width: 1110px) {
    .list {
        --on_row_count: 2;
    }
}

@media screen and (max-width: 770px) {
    .list {
        --on_row_count: 1;
    }
}